<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kidseduc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kidseduc"
        tools:targetApi="31">
        <activity
            android:name=".views.HtmlActivity"
            android:exported="true"/>
        <activity
            android:name=".views.VideoActivity"
            android:exported="true"/>
        <activity
            android:name=".views.PictureActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".NavbarActivity"
            android:exported="true"
            android:label="@string/title_activity_navbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true" />
    </application>

</manifest>